@tailwind base;
@tailwind components;
@tailwind utilities;

.haiku_image{
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

.modal_help_button_container{
  position:fixed;
  right:50px;
  bottom:50px;
  transition:1s;
  opacity:0.7;
}

.modal_help_button{
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
  font-size: 200%;
}

.modal_help_button:hover {
  background: #668ad8;
}

.modal__overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0,0,0);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}
.is-opened{
  visibility: visible;
  opacity: 1;
}
.modal__box{
  background-color: rgb(0, 0, 0);
  position: relative;
  padding: 30px 20px;
}
.modal__closeBtn{
  position: absolute;
  color:rgb(255, 255, 255);
  font-size: 300%;
  top: 10px;
  right: 10px;
}

.haiku{
  writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode:vertical-rl;   
}

.fade-in-bottom {
	opacity: 0;
	animation: fadein-bottom 1.5s .3s ease-out forwards;
}
.fade-in-bottom {
	opacity: 0;
    animation-name: fadein-bottom;
	animation-duration: 1.5s;
	animation-delay: .3s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
@keyframes fadein-bottom {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in-bottom2 {
	opacity: 0;
	animation: fadein-bottom 2.5s .3s ease-out forwards;
}
.fade-in-bottom2 {
	opacity: 0;
    animation-name: fadein-bottom;
	animation-duration: 2.5s;
	animation-delay: .3s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
@keyframes fadein-bottom2 {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in-bottom3 {
	opacity: 0;
	animation: fadein-bottom 3.5s .3s ease-out forwards;
}
.fade-in-bottom3 {
	opacity: 0;
    animation-name: fadein-bottom;
	animation-duration: 3.5s;
	animation-delay: .3s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
@keyframes fadein-bottom3 {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 400px) {
  .modal__closeBtn{
    position: fixed;
    color:rgb(255, 255, 255);
    font-size: 300%;
    top: 10px;
    right: 10px;
  }
}